{% extends "layout.html" %}

{% block title %}Contact | {% endblock %}

{% block content %}

<h1>StaticPages#contact</h1>
<p>Find me in web/views/contact.twig</p>
<a href="/">Back</a>

{% endblock %}
