{% extends "layout.html" %}

{% block content %}

<ul>
	<li><a href="/static_pages/help">Help</a></li>
	<li><a href="/static_pages/about">About</a></li>
	<li><a href="/static_pages/contact">Contact</a></li>
</ul>

{% endblock %}
